<h1>All Users</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Member Since</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user)  %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
     </tr>
    <% end %>
  </tbody>
</table>



