<h2 class="title-divider"><span>Sign Up for <span class="de-em">StrategicHR Online Training</span></span> <small></small></h2>
<p>There is no charge to become a member of Dr. Bob Nelson's Strategic HR training environment, and you will have unlimited access to Dr. Bob's training videos and quizzes.  After watching the videos and passing the quizzes for a course, you can optionally purchase a certificate verifying the CEU credits earned for the course.</p>
<p><i>To sign up, fill in your name and email address on the form below, then click the Register button.  An email will be sent to your email address.  Click the link in the email to complete your registration, then login and start earning your CEU credits!</p>
<br>


<%= render 'form' %>

