<h2 class="title-divider"><span>All <span class="de-em">StrategicHR Videos</span></span> <small></small></h2>

<div class="col-md-8">
  <% if can? :create, Video %>
    <%= link_to "Add Video", new_video_path, class: 'btn btn-primary btn-mini' %>
  <% end %>
</div>
<br><br>
<div class="col-md-8">
  <% @videos.each do |video| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to video.name, video_path(video) %>
        </h4>
        <small>
          <%= markdown video.description %> 
        </small>
      </div>
    </div>
  <% end %>
</div>


