<h1>About Dr. Bob Nelson</h1> 
<img style="float: left; margin: 0px 15px 15px 0px;" src=<%= image_path("BobHotelLobby.jpg") %> alt="Dr. Bob Nelson">
<p>Dr. Bob Nelson is considered one of the world’s leading experts on strategic human resources including employee motivation, performance, engagement, recognition and rewards.  He is president of Nelson Motivation Inc., a management training and consulting company located in San Diego, California that specializes in helping organizations improve their management practices, programs and systems.</p> 
<blockquote>
  <p class="primary-colour">"Bob Nelson's mind is phenomenal and his generosity for sharing is lavish! We're just developing our employee recognition program, and feel like I've discovered a pure gold mine of ideas that will take us to dizzying heights! Thanks!" </p><p><i><small>Donnie Weigand, City of Newcastle, WA</i></p></small>
</blockquote>
  <p>He has worked with nearly all of the Fortune 500 companies and has presented on six continents. He is a co-founder of Recognition Professionals International and previously worked closely with Dr. Ken Blanchard (The One Minute Manager) for 10 years as his vice president, chief of staff and ghost writer.</p>
  
  <p>Dr. Nelson has sold 4 million books on management and motivation, which have been translated into 37 languages, including 1001 Ways to Reward Employees, now in a new edition entitled 1501 Ways to Reward Employees, The 1001 Rewards & Recognition Fieldbook, 1001 Ways to Take Initiative at Work, Keeping Up in a Down Economy: What the Best Companies Do to Get Results in Tough Times, and Ubuntu: An Inspiring Story of an African Principle of Teamwork and Collaboration.</p>

  <p>He has appeared extensively in the national media including CBS 60 Minutes, CNN, MSNBC, CNBC, PBS, National Public Radio and has been featured in The New York Times, The Wall Street Journal, The Washington Post, BusinessWeek, Fortune, Inc., and other media to discuss how to best motivate today’s employees.</p>

  <p>He holds an MBA in organizational behavior from UC Berkeley and received his PhD in management with Dr. Peter F. Drucker “The Father of Modern Management” at the Drucker Graduate Management School of Claremont Graduate University in Los Angeles. He teaches in the MBA program at the Rady School of Management at the University of California in San Diego.</p>


