<h1>Privacy Notice</h1>
<p>This privacy notice discloses the privacy practices for Dr. Bob Nelson's StrategicHR.com website. This privacy notice applies solely to information collected by this web site. 

<h2>Information Collection, Use, and Sharing </h2>
<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>

<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

<h2>Your Access to and Control Over Information</h2>
<p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
<ul>
<li>See what data we have about you, if any.</li>
<li>Change/correct any data we have about you.</li>
<li>Have us delete any data we have about you.</li>
<li>Express any concern you have about our use of your data.</li>
</ul>
<h2>Security </h2>
<p>We take precautions to protect your information. Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted, and stored in a secure method.</p>

If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 858-673-0690 or via email.