@import "bootstrap";
@import "font-awesome";
@import "theme-style";

.sidebar-box {
  background:transparent;
  padding:8px;
  border: 1px solid #e6e6e6 ;
}

.certificate-color {
   background-color:  #4070D6;
   color: #ffffff;
   border-color: #43158AD;
}
