<script src="https://www.google.com/jsapi"></script>
<%= javascript_tag do %>
   window.video_data = <%= raw @video_data.to_json %>
   window.certificate_data = <%= raw @certificate_data.to_json %>
   window.quiz_data = <%= raw @quiz_data.to_json %>
<% end %>
<script>

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var viddata = new google.visualization.arrayToDataTable( window.video_data);
    var quizdata = new google.visualization.arrayToDataTable( window.quiz_data);
    var certdata = new google.visualization.arrayToDataTable( window.certificate_data);


    // Set quiz chart options
    var options = {'title':'Quiz Statistics',
                   'legend': { position: 'top', maxLines: 3},
                    'vAxis': {title: 'Course',  titleTextStyle: {color: 'red'}} 
    };
    // Instantiate and draw our chart, passing in some options.
    var quizchart = new google.visualization.BarChart(document.getElementById('vidchartdiv'));
    quizchart.draw(quizdata, options);

    // Set certificate chart options
    var options = {'title':'Certificate Statistics',

                    'vAxis': {title: 'Course',  titleTextStyle: {color: 'red'}} 
    };
    // Instantiate and draw our chart, passing in some options.
    var certchart = new google.visualization.BarChart(document.getElementById('quizchartdiv'));
    certchart.draw(certdata, options);

    // Set video chart options
    var options = {'title':'Video Statistics',

                    'vAxis': {title: 'Course',  titleTextStyle: {color: 'red'}} 
    };
    // Instantiate and draw our chart, passing in some options.
    var vidchart = new google.visualization.BarChart(document.getElementById('certchartdiv'));
    vidchart.draw(viddata, options);

  }
</script>

<div id="vidchartdiv" style="width: 1000px; height: 600px;"></div>
<div id="quizchartdiv" style="width: 1000px; height: 600px;"></div>
<div id="certchartdiv" style="width: 1000px; height: 600px;"></div>
